:root {}

.debug {
  border: 1px solid firebrick;
}

.main-wrapper {
  min-height: 100vh;
  background-color: #EBF2FA;
}

.card {
  width: 18rem;
}

.title {
  color: #05668D;
}

.card-top {
  overflow: hidden;
}

.card-top img {
  transition: 0.5s all ease-in-out;
}

.card-top img:hover  {
  transform: scale(1.15);
}